<!DOCTYPE html>
<html lang="pt-br">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Projeto Água</title>
  </head>
  <body>
    <section class="prevencao">
      <h1>Dicas de prevenção ao covid-19</h1>
      <p class="orientaçoes">
        Para evitar a transmissão da COVID-19, siga estas orientações.
      </p>
      <br />

      <img src="assets/img/covid.jpg" />

      <div class="dicas">
        <p>
          Mantenha uma distância segura de outras pessoas (pelo menos 1 metro),
          mesmo que elas não pareçam estar doentes.
        </p>
        <p>
          Use máscara em público, especialmente em locais fechados ou quando não
          for possível manter o distanciamento físico.
        </p>
        <p>
          Prefira locais abertos e bem ventilados em vez de ambientes fechados.
          Abra uma janela se estiver em um local fechado.
        </p>
        <p>Limpe as mãos com frequência. Use sabão e água ou álcool em gel.</p>
        <p>
          Cubra o nariz e a boca com o braço dobrado ou um lenço ao tossir ou
          espirrar.
        </p>
        <p>Fique em casa se você sentir indisposição.</p>
        <p>
          Vacine-se quando chegar a sua vez. Siga as orientações locais para
          isso.
        </p>
      </div>

      <div class="prev">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/OotKV-M6_9I"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>

      <h2>Alimentação para ajudar no combate ao covid-19</h2>

      <div class="ali">
        <iframe
          width="560"
          height="315"
          src="https://www.youtube.com/embed/oON48-6W9W4"
          title="YouTube video player"
          frameborder="0"
          allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
          allowfullscreen
        ></iframe>
      </div>
    </section>
  </body>
</html>
