<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Projeto Água</title>

</head>
<body>

    <section class="prevencao">
        <h2>Dicas de prevenção ao covid-19</h2>
        <div class="prev">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/OotKV-M6_9I" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
        <h2>Alimentação para ajudar no combate ao covid-19</h2>
        <div class="ali">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/oON48-6W9W4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        </div>
    </section>

</body>
</html>