table {
    width: 100%;
}

.edit {
    margin-right: 10px;
}

.edit > i {
    color: #d9cd26;
}

.delete > i {
    color: #e35e6b;
}

h1,
p {
  text-align: center;
}

h1 {
  font-size: 33px;
}

p {
  margin-bottom: 30px;
}

.selo {
  width: 15%;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}