.home .title {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.2;
}

.home .subtitle {
  font-size: 1.1rem;
}

.home .logo {
  max-height: 150px;
  align-items: center;
}

.title {
  text-align: center;
}

.subtitle {
  text-align: center;
}

.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.paragrafos {
  margin: 0 auto;
  width: 80%;
  text-align: justify;
}
