<mat-card class="home mat-elevation-z3">
    <mat-card-title class="title">
        Bem Vindo!
    </mat-card-title>
    <mat-card-subtitle class="subtitle">
        Sistema de combate à Covid-19.
    </mat-card-subtitle>

    <a routerLink="/">
        <img class="logo" src="assets/img/selo.png" alt="logo">
    </a>
        <p>Trata-se de um serviço que visa a criar uma ciclo de incentivos à vacinação da população.

        Hoje temos em Blumenau aproximadamente 74% da população com a 1ª dose e aproximadamente 60% com as duas doses (ou dose única).
        Apesar de ser um número expressivo, ainda falta muita gente ser vacinada. </p>

        <p>A empresa que desejar ter seu selo de “Empresa Vacinada” deverá enviar a relação dos trabalhadores constantes no arquivo SEFIP (Sistema Empresa de Recolhimento do FGTS e Informações à Previdência Social, bem como a comprovação de vacinação dos respectivos colaboradores através do Certificado Nacional de Vacinação Covid-19. 
        De acordo com um percentual mínimo de colaboradores vacinados, a empresa recebe o Selo.</p>

        <p> Desta forma, é mais fácil para o cliente escolher qual local frequentar mantendo sua segurança e dos demais.</p>

        <p>Para a empresa, o selo é benéfico no ponto de vista sanitário, pois consegue manter seus colaboradores em segurança, mas também no ponto de vista econômico, visto que atrai um público maior para usar de seus serviços. Com exceção do vírus, todos saem ganhando.</p>

</mat-card>
