<html>
 <head>
 <meta http-equiv="Content-Type" content="text/html; charset=utf-8"> 
 </head>

 <body>
  <h2> Área Logada</h2><br />

<form action="Script_do_Formulario.php" method="post">



<br />


<!-- DADOS DE LOGIN -->
<fieldset>
 <legend>Envio de Documentos para análise</legend>
 <table cellspacing="10">


  <tr>
   <td>
    <label for="imagem">Relação de Empregados</label>
   </td>

   <td>
    <input type="file" name="imagem" >
   </td>
  </tr>

  <tr>
    <td>
     <label for="imagem">Comprovantes de Vacinação</label>
    </td>
 
    <td>
     <input type="file" name="imagem" >
    </td>
   </tr>
 
   <tr>
    <td>
     <label for="imagem">Identificação do Remetende dos Documentos</label>
    </td>
 
    <td>
     <input type="file" name="imagem" >
    </td>
   </tr>

   <tr>
    <td>
     <label for="imagem">Documento que comprove poderes do<br
        >Remetente para representar a empresa<br>
        (Procuração, contrato social ou semelhante)
    </label>
    </td>
 
    <td>
     <input type="file" name="imagem" >
    </td>
   </tr>

 
  
  
 </table>
</fieldset>
<br />
<input type="submit">
<input type="reset" value="Limpar">
</form>

 </body>
</html>